apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: todo-app

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- pvc.yaml
- postgres-deployment.yaml # Contient le service Postgres
- backend-deployment.yaml  # Contient le service Backend
- frontend-deployment.yaml # Contient le service Frontend
- ingress.yaml
